<!--<div>{{ appState$ | async | json }}</div>-->
<div class="container-x1">
  <div class = "table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Print Report</button>

            <a href="#addEomployeeModal" class="btn btn-success" data-toggle ="modal">
              <i class="material-icons">&#xE147;</i>
              <span>New Server</span>
            </a>

            <span>
              <select name="status"
                class="btn btn-info" style="height: 32.91px;">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER_UP</option>
                <option value="SERVER_DOWN">SERVER_DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div> <br>
      <ng-container>
        <ng-container>
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container>
          <table class="table table-stripped table-hover" id="servers">
            <thead>
              <tr>
                <th>Image</th>
                <th>IP Address</th>
                <th>Name</th>
                <th>Memory</th>
                <th>Type</th>
                <th>Status</th>
                <th>Ping</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <img src="" width="40" height="40"></td>
                <td>ipAddress</td>
                <td>name</td>
                <td>memory</td>
                <td>type</td>
                <td>
                  <span class="badge"></span>
                </td>
                <td>
                  <a style="cursor: pointer;">
                    <i class="material-icons" title="Ping server">&#xe328;</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
